.custom_button {
    width: 100px;
    height:30px;
    border-radius: 4px;
    margin:50px;

    &__on {
        color: gray;
        background-color: #4eff71;
    }

    &__off {
        color: gray;
        background-color: #ff0e36;
    }
}